/*voor alle paginas*/
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Serif', serif;
}

body {
    background-color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    min-width: 320px;

}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1000px;

    /* background-color: #00B9FF; */
}

/*header voor de work-paginas*/
.header-work {

    height: 80%;
    width: 65%;
    max-width: 1800px;
    max-height: 1000px;
    min-height: 800px;
    /* background-color: red; */
    box-shadow: 0px 0px 10px 0px;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    /* padding-bottom: 100px; */




}


header {

    height: 80%;
    width: 65%;
    max-width: 1800px;
    max-height: 1000px;
    min-height: 800px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px;
    display: block;
}

.main-container {
    /* background-color: #3e8e41; */
    height: 85%;
    width: 100%;
    display: flex;
}
/* alles voor de footer */
footer {
    width: 100%;
    height: 5%;
    /* background-color: red; */

}

#workLinks {
display: flex;
justify-content: space-evenly;
align-items: center;
height: 100%;
/* background-color: #00B9FF; */
}

.urlIcons {
height: 40px;
width: 40px;
margin-left: 10px;

/* background-color: red; */
}

.github{
    background-image: url(../img/urlicons/github.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.linkedin{
    background-image: url(../img/urlicons/linkedin.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.bol-1 {
    height: 250px;
    width: 250px;
    background-color: #00B9FF;
    border-radius: 50%;
    margin-left: 9%;
    position: absolute;
}

.bol-2 {
    height: 250px;
    width: 250px;
    background-color: #00B9FF;
    border-radius: 50%;
    position: absolute;

}

nav {
    width: 100%;
    height: 10%;
    /* background-color: red; */
    align-items: center;
    display: flex;
}

nav ul {
    margin-left: auto;
    display: flex;
}

nav ul li {
    display: flex;
    list-style: none;
    margin-right: 2vh
}

nav a {
    font-size: 150%;
    text-decoration: none;
    color: black;
}

.dropdown {
    display: none
}

.home {
    color: #00B9FF;
    font-weight: bolder;
}

.portfolio {
    margin-left: 2%;
    font-family: 'Pacifico', cursive;

}

.index-text {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;



}

section {
    height: auto;
    width: auto;
    font-size: 150%;
}

section h1 {
    font-size: 250%;
}

section a {
    color: #00B9FF;
    text-decoration: none
}

.foto-index {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */

}

.selfie {
    height: 500px;
    width: 500px;
    margin-left: 150px;

}

/*alles voor de pagina About*/
.about-wrapper {
    height: 100%;
    width: 50%;
    /* background-color: violet; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.about-tekst {
    height: auto;
    width: 50%;
    /* font-size: 50px; */
    background-color: white;
    text-align: left;
    /* margin-right: 20%; */
}

.about-tekst p {
    font-size: 20px;

}

/*alles voor de pagina contact*/
.contact-title {
    /* background-color: red; */
    height: 10%;
    font-size: 140%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-title h2 {
    width: 30%;
    border-bottom: 1.5px solid #00B9FF;
    display: flex;
    justify-content: center;
}

.contact {
    text-align: center;
    /* background-color: blue; */
    height: 80%;
    width: 100%;
}

form {
    transition: all 0.5s ease-in-out;
}

.form-control {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1.5px solid;
    color: #00B9FF;
    margin-bottom: 16px;
}

input {
    height: 90px;
}



form .submit {
    background: #00B9FF;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 410px;
    background-color: red;
}




/* alles voor de work websites pagina */
.website-wrapper {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* background-color: red; */
}

.website-block {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 250px;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.website-block-img {

    width: 100%;
    height: 225px;
    /* background-color: red; */
}

.website-block-text {
    height: 75px;
    width: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;

}



.eerste-website {
    background-image: url(../img/challenge-1.png);
    background-position: center;
    background-size: cover;
}

.rekenmachine {
    background-image: url(../img/rekenmachine.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.steen_papier_schaar {
    background-image: url(../opdrachten/img/steenpapierschaar.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.login_systeem {
    background-image: url(../opdrachten-img/logindesign.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.webshop {
    background-image: url(../opdrachten/img/ecommerce.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.snakegame {
    background-image: url(../img/snakegame.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.website-block-a {
    text-decoration: none;
    color: black;
}

.website-block-a:hover {
    opacity: 0.2;
    transition: 1s ease;
}

/* alles voor showWOrk pagina */


.showWorkFoto {
    width: 100%;
    /* margin-bottom: 10px; */

}

.showWorkFoto1:hover {
    opacity: 0.7;
    cursor: pointer;
}


.showWorkContainer {
    width: 65%;
    height: auto;
    /* padding-bottom: 10px; */
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


/* zoom in image */

.zoomInContainerClass {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: white;
    top: 0px;
    display: none;
    justify-content: center;
    align-items: center;
}

.closeZoomIn {
    height: 50px;
    width: 50px;
    background-color: white;
    background-image: url(../img/closeIcon3.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50px;
    right: 50px;
    border: none;
}

.zoomInImage {
    width: 75%;
    /* height: 90%; */
    /* position: absolute; */
}